.favorite {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  color: #d22b2b;
}
.icon {
  flex-shrink: 0;
}
.favorite:hover {
  color: #dc143c;
}
.favoriteFull {
  border: 1px solid #b59b88;
  border-radius: 8px;
  padding: 11px 26px;
  font-size: 14px;
  font-weight: 700;
}
