.favorite {
  font-size: 12px;
  color: #884d29;
}
.favorite:hover {
  color: #172554;
}
.favoriteFull {
  border: 1px solid #b59b88;
  border-radius: 8px;
  padding: 11px 26px;
  font-size: 14px;
  font-weight: 700;
}
