.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--button-bg);
  color: white;
  border-radius: 8px;
  padding: 10px 30px;
  font-weight: 700;
  border: 1px solid transparent;
  line-height: 1.2;
}
.button:hover {
  background: var(--button-bg-hover);
  text-decoration: none;
}
.textLink {
  font-size: 14px;
  color: var(--link);
  font-weight: 700;
}
