.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  padding: 10px 30px;
  font-weight: 700;
  border: 1px solid transparent;
  line-height: 1.2;
}
.button:hover {
  background: #1d4ed8;
  text-decoration: none;
}
.textLink {
  font-size: 14px;
  color: #2563eb;
  font-weight: 700;
}
